<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add your new space</h3>
        <%= simple_form_for @space do |f| %>
          <%= f.input :name, placeholder: 'My amazing space' %>
          <%= f.input :address, placeholder: '18 Clarievaux road, Kalk bay , Cape Town' %>
          <%= f.input :price, placeholder: 'Please insert a daily rate in Euros' %>
          <%= f.input :description, placeholder: 'Tell us about your workspace and why we would like to work there..' %>
          <%= f.input :images, as: :file, input_html: { multiple: true } %>
          <%= f.submit class: 'btn-ghost' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
