

<div class="container">

  <div class= "d-flex">
    <div class="card" style="width: 25rem;">
    <%= image_tag "1.png" %>
      <img src= "1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= @space.name %></h5>
        <p class="card-text">A lovely quiet workspace with likeminded people.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Price :<%=  @space.price %></li>
        <li class="list-group-item"> <%= @space.description %></li>
        <li class="list-group-item"> Address :<%= @space.address %></li>
      </ul>
      <div class="card-body">
    
      </div>
    </div>

    <div>
      <h3>Book this space</h3>
      <%= simple_form_for [@space, @booking] do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>


