
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <% if @space.images.attached? %>
      <%= cl_image_tag space.images.first.key %>
      <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="..."/>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @space.name %></h5>
    </div>
    <div class="carousel-item">
      <% if @space.images.attached? %>
      <%= cl_image_tag space.images.seceond.key %>
      <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="..."/>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @space.name %></h5>
    </div>
    <div class="carousel-item">
      <% if @space.images.attached? %>
      <%= cl_image_tag space.images.third.key %>
      <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="..."/>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @space.name %></h5>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">

  <div class= "d-flex">
    <div class="card" style="width: 25rem;">
      <% if @space.images.attached? %>
      <%= cl_image_tag space.images.first.key %>
      <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="..."/>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @space.name %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Description: <%= @space.description %></li>
        <li class="list-group-item"> Address: <%= @space.address %></li>
        <li class="list-group-item"> Price: <%=  @space.price %>$ per day</li>
      </ul>
      <div class="card-body">

      </div>
    </div>

    <div>
      <h3>Book this space</h3>
      <%= simple_form_for [@space, @booking] do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
