<h1>Spaces#show</h1>
<p>Find me in app/views/spaces/show.html.erb</p>

<h1>Name: <%= @space.name %></h1>
<h1>Price: <%= @space.price %> euros</h1>
<h1>Description: <%= @space.description %></h1>
<h1>Address: <%= @space.address %></h1>


<%= link_to "Book now", "#", class: "btn-ghost" %>



  <%= link_to "Delete",
  space_path(@space),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>


