<div class="container">
  <div class= "d-flex justify-content-center">
    <div class="card text-center" style="width: 25rem;">
      <h5>Your booking is: <%=  @booking.status%></h5>
        <% if @space.images.attached? %>
        <%= cl_image_tag space.images.second.key %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top" alt="..."/>
      <% end %>
        <div class="card-body">
          <h4 class="card-title">Your Booking:</h5>
          <h5 class="card-title"><%= @space.name %></h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Start Date: <%=@booking.start_date %></li>
          <li class="list-group-item"> End Date: <%=@booking.end_date %></li>
          <li class="list-group-item"> Total days booked: <%=@days %></li>
          <li class="list-group-item"> Total Price: <%= @total_price  %> Euros</li>
        </ul>
    </div>
  </div>
</div>
